<html>  
  <head>    
    
    <title>Employee Management System</title>    
    
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>  
      <link id="appCSS" href="css/empmgmt.css" rel="stylesheet">
    
 	<script type="text/javascript">  
            var app = angular.module("employeeManagement", []);  
           
            //Controller Part  
            app.controller("employeeController", function($scope, $http) {  
           
                 
                $scope.employees = [];  
                $scope.employeeForm = {  
                    id : -1,  
                    name : "",  
                    salary : ""  
                };  
           
                //Now load the data from server  
                _refreshemployeeData();  
           
                //HTTP POST/PUT methods for add/edit employee   
                // with the help of id, we are going to find out whether it is put or post operation  
                  
                $scope.submitemployee = function() {  
           
                    var method = "";  
                    var url = "";  
                    if ($scope.employeeForm.id == -1) {  
                        //Id is absent in form data, it is create new employee operation  
                        method = "POST";  
                        url = '/EmpMgmtSystem/addemployee';  
                    } else {  
                        //Id is present in form data, it is edit employee operation  
                        method = "PUT";  
                        url = '/EmpMgmtSystem/updemployee';  
                    }  
           
                    $http({  
                        method : method,  
                        url : url,  
                        data : angular.toJson($scope.employeeForm),  
                        headers : {  
                            'Content-Type' : 'application/json'  
                        }  
                    }).then( _success, _error );  
                };  
           
                //HTTP DELETE- delete employee by Id  
                $scope.deleteemployee = function(employee) {  
                    $http({  
                        method : 'DELETE',  
                        url : '/EmpMgmtSystem/delemployee/' + employee.id  
                    }).then(_success, _error);  
                };  
   
             // In case of edit, populate form fields and assign form.id with employee id  
                $scope.editemployee = function(employee) {  
                    
                    $scope.employeeForm.name = employee.name;  
                    $scope.employeeForm.salary = employee.salary;  
                    $scope.employeeForm.id = employee.id;  
                };  
           
                /* Private Methods */  
                //HTTP GET- get all employees collection  
                function _refreshemployeeData() {  
                    $http({  
                        method : 'GET',  
                        url : 'http://localhost:8080/EmpMgmtSystem/employees'  
                    }).then(function successCallback(response) {  
                        $scope.employees = response.data;  
                    }, function errorCallback(response) {  
                        console.log(response.statusText);  
                    });  
                }  
           
                function _success(response) {  
                    _refreshemployeeData();  
                    $scope._clearFormData()  
                }  
           
                function _error(response) {  
                    console.log(response.statusText);  
                }  
           
                //Clear the form  
                $scope._clearFormData = function()  {  
                    $scope.employeeForm.id = -1;  
                    $scope.employeeForm.name = "";  
                    $scope.employeeForm.salary = "";  
                  
                };  
            });  
        </script>  
          <head>  
    <body ng-app="employeeManagement" ng-controller="employeeController">  
         <h1>  
           Employee Management System.  
        </h1>   
        <form ng-submit="submitemployee()">  
            <table>  
                 
                <tr>  
                    <th colspan="2">Add/Edit employee</th>  
                 </tr>  
                <tr>  
                    <td>employee</td>  
                    <td><input type="text" ng-model="employeeForm.name" /></td>  
                </tr>  
                <tr>  
                    <td>salary</td>  
                    <td><input type="text" ng-model="employeeForm.salary"  /></td>  
                </tr>  
                <tr>  
                    <td colspan="2"><input type="submit" value="Submit" class="blue-button" /></td>
                    <td colspan="2"><input type="button" value="Reset" class="blue-button" ng-click="_clearFormData()" /></td>  
                </tr>  
            </table>  
        </form>  
        <table>  
            <tr>  
                
                <th>Name</th>  
                <th>Salary</th>  
                <th>Operations</th>  
                 
            </tr>  
   
            <tr ng-repeat="employee in employees">  
                 
    			<td> {{ employee.name }}</td>  
    			<td >{{ employee.salary }}</td>    
                  
                <td><a ng-click="editemployee(employee)" class="blue-button">Edit</a> | <a ng-click="deleteemployee(employee)" class="red-button">Delete</a></td>  
            </tr>  
   
        </table>  
  </body>  
</html>  